<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
         <h2>Telefono: +54 9 11 3043-9197</h2>  
          <h2>WhatsApp: +58 426-5164334</h2> 
          <h2>Email: Moiraimeldagarcia@gmail.com</h2>    
        <h4 class="modal-title" id="exampleModalLabel">Mandanos tu consulta</h4>
        
      </div>
      <div class="modal-body">
        <form class="text-left col-lg-12" name="userform" (ngSubmit)="contactForm(form.form.value)" #form="ngForm">

          <div class="form-group">
            <label for="login-email">Consulta </label>
            <input class="form-control form-control-lg" type="text" name="asunto" ngModel>
          </div>

          <div class="form-group">
            <label for="login-email">Telefono </label>
            <input class="form-control form-control-lg" type="text" name="telefono"  ngModel>
          </div>

          <div class="form-group">
            <label for="login-email">Email </label>
            <input class="form-control form-control-lg" type="email" name="email"  ngModel>
          </div>

          <div class="form-group">
            <label for="login-password">Mensaje</label>
            <textarea class="form-control form-control-lg" name="" id="" cols="30" rows="10" name="mensaje"
              ngModel></textarea>
          </div>

          <div class="text-center mt-3">
            <!-- <button type="submit" class="btn btn-lg btn-primary">Log in user site</button> -->
            <button type="submit" class="btn btn-lg btn-primary" style="margin-bottom: 20px">
              Enviar consulta
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>