
<div class="main-container">
  
  <section class="space-sm">
      <div class="container">
          <div class="row">
              <div class="col">
                  <ul class="feature-list" >
                    <div class="row justify-content-center">
                      <div class="col-12 col-lg-10">
                        <ul class="feature-list feature-list-sm row">
          
                          <h3>
                            Religiosos
                          </h3>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-power-plug text-orange display-4"></i> -->
                                <h6 class="title-decorative">Iconos</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-credit-card text-yellow display-4"></i> -->
                                <h6 class="title-decorative">Cruces</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-code text-green display-4"></i> -->
                                <h6 class="title-decorative">Biblias</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-shield text-teal display-4"></i> -->
                                <h6 class="title-decorative">Medallones</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-folder text-blue display-4"></i> -->
                                <h6 class="title-decorative">Retablos</h6>
                              </div>
                            </a>
                          </li>

                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-code text-green display-4"></i> -->
                                <h6 class="title-decorative">Tripticos</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-shield text-teal display-4"></i> -->
                                <h6 class="title-decorative">Cristo - Pantocrator</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-folder text-blue display-4"></i> -->
                                <h6 class="title-decorative">Virgenes</h6>
                              </div>
                            </a>
                          </li>

                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-folder text-blue display-4"></i> -->
                                <h6 class="title-decorative">Virgenes</h6>
                              </div>
                            </a>
                          </li>

                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-folder text-blue display-4"></i> -->
                                <h6 class="title-decorative">Sagrada Familia</h6>
                              </div>
                            </a>
                          </li>
                          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-folder text-blue display-4"></i> -->
                                <h6 class="title-decorative">Cuneros</h6>
                              </div>
                            </a>
                          </li>




                         <h3>
                           Decorativos
                         </h3>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-power-plug text-orange display-4"></i> -->
                                <h6 class="title-decorative">Bandejas</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-credit-card text-yellow display-4"></i> -->
                                <h6 class="title-decorative">Portaretrato</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-code text-green display-4"></i> -->
                                <h6 class="title-decorative">Espejos</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-shield text-teal display-4"></i> -->
                                <h6 class="title-decorative">Apoyaplatos</h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-folder text-blue display-4"></i> -->
                                <h6 class="title-decorative">Apoyafuentes</h6>
                              </div>
                            </a>
                          </li>

                          <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <!-- <i class="icon-code text-green display-4"></i> -->
                                <h6 class="title-decorative">Platos Giratorios</h6>
                              </div>
                            </a>
                          </li>

                        </ul>
                      </div>
                      <!--end of col-->
                    </div>
                  </ul>
              </div>
              <!--end of col-->

              

          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>

</div>