<div class="container-fluid">
    <section  class="space-lg contain-all-about">
        
        <div class="row contain-about">
            <div class="col-6 picture-about" >
            </div>
            
            <div class="col-6 contain-text" >
                <h5>MOIRA GARCIA</h5>
                <p class="text-about" >
                    Moira García nació en la ciudad de General Madariaga en la República Argentina.  
                    En 1998 se radica en Venezuela y en 2002 toma curiosidad por el repujado en metales.  Con la inquietud, iniciativa e intuición que le son características, comienza a explorar los materiales, herramientas y técnicas para trabajar las láminas de metales maleables, como aluminio, estaño y plata.  Sus primeros trabajos vertieron sobre marcos para fotografías y espejos, teniendo resultados satisfactorios y gratificantes que la llevaron a investigar las técnicas formales.
                    
                    
                </p>

                <p class="text-about" >
                        De la mano de la artista mexicana-guatemalteca Michele Johnston, se abre al trabajo de imágenes sacras descubriendo la belleza y riqueza del mundo de la iconografía ortodoxa.  Su producción es prolífica, desarrollando obras de alta elaboración, detalle y expresividad, representados en Natividades, Cristo Pantocrator, Sagrada Familia y María Madre de Dios bajo distintos títulos y advocaciones.  Llaman la atención las Biblias revestidas en metales con delicados motivos, que las hacen joyas dentro de su colección.
                        
                </p>
                <p class="text-about" >
                        Su curiosidad e innato sentido de la belleza, la lleva a explorar otras técnicas para representar las imágenes sacras y entra en el mundo de la pintura iconográfica, siempre inspirada en las imágenes de la Iglesia Ortodoxa.  Fue Karuz Gruber su primera guía en este tránsito hacia la creación de las imágenes.  “Escribir” un icono se convierte en un rito y traer la imagen de la oscuridad a la luz es un acto de entrega acompañado de oración.
                        
                </p>
                <p class="text-about" >
                        Distintas obras nutren su galería de iconos pintados:  representaciones de María Madre de Dios, de Cristo, San Francisco de Asís y otros Santos.  Además de los rostros de estas imágenes que incorpora a sus obras de repujado en metal que nunca han dejado de salir de su taller.
                        
                </p>
                <p class="text-about" >
                        Moira tiene así creaciones de alta elaboración y en formatos medianos y grandes.  Pero su sentido de la estética y practicidad cotidiana la lleva a crear otras obras de formato menor y de distinta utilidad práctica, por lo que se verá en su galería, cruces de pequeños formatos, imágenes para cunas y medallones, así como bandejas con primorosos motivos, platos para centros de mesas, posafuentes, portarretratos con bellos diseños…
                </p>

            </div>
            
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>