.footer-short {
    padding: 1rem !important;
    background-color: #cD8231 !important;   
}

.custom-footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

 .list-inline-item > a {
    color: #000;
}

.row {
    justify-content: center;
}

img {
    height: 6rem !important;
}

@media screen and (max-width: 575px) {
    nav > .col-auto:first-child {
        padding-left: 10rem;
    }
  }



