.footer-short {
    padding: 1rem !important;
    background-color: #c6ecd9 !important;   
}

.custom-footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.row {
    justify-content: center;
}

img {
    height: 6rem !important;
}

@media screen and (max-width: 575px) {
    nav > .col-auto:first-child {
        padding-left: 10rem;
    }
  }



