
<div class="main-container">
    <section class="bg-dark space-sm"  >
        <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":false, "wrapAround":true, "autoPlay":5000, "imagesLoaded":true }'>


            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a href="#" class="d-block mb-3">
                    <img alt="Image" src="assets/img/moira/articles/DSC_6213.jpg" class="img-fluid rounded" />
                </a>
                
            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a href="#" class="d-block mb-3">
                    <img alt="Image" src="assets/img/moira/articles/DSC_6223.jpg" class="img-fluid rounded" />
                </a>                
            </div> 



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a href="#" class="d-block mb-3">
                    <img alt="Image" src="assets/img/moira/articles/DSC_6233.jpg" class="img-fluid rounded" />
                </a>                
            </div>





            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a href="#" class="d-block mb-3">
                    <img alt="Image" src="assets/img/moira/articles/DSC_6205.jpg" class="img-fluid rounded" />
                </a>
                
            </div>




        </div>
    </section>
    <section class="space-sm">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="mb-3">
                        <!-- <a href="#" class="btn btn-secondary mb-1">Crucifijos</a>
                        <a href="#" class="btn btn-secondary mb-1">Bandejas</a>
                        <a href="#" class="btn btn-secondary mb-1">Porta retratos</a> -->
                        <!-- <a href="#" class="btn btn-secondary mb-1">Health &amp; Fitness</a>
                        <a href="#" class="btn btn-secondary mb-1">Music</a>
                        <a href="#" class="btn btn-secondary mb-1">Productivity</a> -->
                    </div>
                    <!-- <a href="#" class="text-small">Explore all categories &rsaquo;</a> -->
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-sm flush-with-above">
        <div class="container">
            <!-- <div class="row mb-4">
                <div class="col-12 d-flex justify-content-between">
                    <div>
                        <span class="text-muted text-small">Results 1 - 12 of 25</span>
                    </div>
                    <form class="d-flex align-items-center">
                        <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
                        <select class="custom-select">
                            <option value="alpha">Alphabetical</option>
                            <option value="old-new" selected>Newest</option>
                            <option value="new-old">Popular</option>
                            <option value="recent">Recently Updated</option>
                        </select>
                    </form>
                </div> -->
                <!--end of col-->
            <!-- </div> -->
            <!--end of row-->
            <ul class="row feature-list feature-list-sm">

                <li *ngFor=" let article of articles " class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="{{article.images[0]}}" alt="Card image cap" *ngIf="article.images[0]!='borrado'">
                        </a>
                        <p>{{article.name}}</p> <br>
                                <p>{{article.price}}</p>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                
                            <!-- <div class="text-small"> -->
                                
                                <!-- <ul class="list-inline">
                                    <li class="list-inline-item"><i class="icon-heart"></i> 221</li>
                                    <li class="list-inline-item"><i class="icon-message"></i> 14</li>
                                </ul> -->
                            <!-- </div>
                            <div class="dropup"> -->
                                <!-- <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="SidekickButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-dots-three-horizontal"></i>
                                </button> -->
                                <!-- <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Share</a>
                                    <a class="dropdown-item" href="#">Comment</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </li>
                <!--end of col-->

            </ul>
            <!--end of row-->

            

        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    
</div>