.container-fluid {
    padding: 0 !important;
}

.ventas {
    background-color: #ff9900 !important;
    width: 100% !important;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.alquileres {
    background-color: #ffad33 !important;
    width: 100% !important;
    /* padding-top: 6rem; */
}

.card-footer {
    display: flex !important;
    /* right: 0; */
    justify-content: flex-end !important;
}

.tag {
    background-color: rgb(31, 26, 23);
    float: left;
    width: 200px;
    height: auto;
    font-family: 'Museo500-Regular', sans-serif;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-right-radius: 10px;
    display: block;
    /* margin-top: -50px; */
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
       font-size: 1.1rem;
       font-weight: 400;
       line-height: 1.5;
    }
    
    .btn {
       display: inline-block;
       font-weight: 400;
       text-align: center;
       white-space: nowrap;
       vertical-align: middle;
       -webkit-user-select: none;
       user-select: none;
       border: 1px solid transparent;
       padding: .100rem .75rem;
       margin-left: 1rem;
       margin-right: 1rem;
       font-size: 1em;
       line-height: 1.5;
       border-radius: 1rem;
       transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    



