
<div class="main-container">
  
  <section class="space-sm">
      <div class="container">
          <div class="row">
              <div class="col">
                  <ul class="feature-list" >
                    <div class="row justify-content-center">
                      <div class="col-12 col-lg-10">
                        <ul class="feature-list feature-list-sm row">
                          
                          <h3>
                            Obras Amigos
                          </h3>

                          <li class="col-6 col-md-6">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <h6 class="title-decorative"> <a [routerLink]="['/result']" [queryParams]="{ search:'anadry'}" > Anadry  </a></h6>

                               
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-6">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <h6 class="title-decorative"><a [routerLink]="['/result']" [queryParams]="{ search:'amalia'}" > Amalia  </a></h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-6">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <h6 class="title-decorative"><a [routerLink]="['/result']" [queryParams]="{ search:'enith'}" > ENITH  </a></h6>
                              </div>
                            </a>
                          </li>
          
                          <li class="col-6 col-md-6">
                            <a class="card text-center" href="#">
                              <div class="card-body">
                                <h6 class="title-decorative"><a [routerLink]="['/result']" [queryParams]="{ search:'gabriela'}" > Gabriela  </a></h6>
                              </div>
                            </a>
                          </li>
          
          

                        </ul>
                      </div>
                      <!--end of col-->
                    </div>
                  </ul>
              </div>
              <!--end of col-->

              

          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>

</div>