.main-container {
    background-color: rgba(168,197,216,0.4);
}

.feature-list > li > .card:only-child {
    text-decoration-color: rgba(0,0,0,1);
}

h3 {
    width: 100%;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
}

.main-container {
    height: 72%;
}

.main-container {
    background-color: rgba(168,197,216,0.4);
}

.feature-list > li > .card:only-child {
    text-decoration-color: rgba(0,0,0,1);
}

h3 {
    width: 100%;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
}

.main-container {
    height: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 h3 {
    text-align: center;
 }

 a:hover {
    color: #000;
    text-decoration: none;
}

a {
    color: #000;
}

